.toolbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    display: flex;
    background: $primary-color;
    height: $height-toolbar-screen-sm;
    position: fixed;
    right: 0;
    left:0;
    padding: 0rem 1rem;
    line-height: $height-toolbar-screen-sm;
    z-index: 99;
    
    @media screen and (min-width: $screen-md-min) { 
        height: $height-toolbar-screen-md;
        line-height: $height-toolbar-screen-md;
    }
}

.toolbar-title {
    white-space: nowrap;
    overflow: hidden;
    
    h1 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 400;
        color: $basic-color-2;
    }
    
    &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15%;
        height: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), $primary-color 100%);
    }
}

.toolbar-menu {
    width: 3rem;
    display: flex;
    align-items: center;
    
    button {
        padding: 0;
        background: transparent;
        border: 0;
        cursor: pointer;
        margin-top: 0.25rem;
        height: 3rem;
        width: 3rem;
        color: $basic-color-2; 
        text-align: left;
        
        &:focus {
            outline:0;
        }
        
        &:active {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
    }
    
    @media screen and (min-width: $screen-md-min) { 
        display: none;   
    }
}