.toolbar {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    display: flex;
    background: $primary-color;
    height: $height-toolbar-screen-sm;
    position: fixed;
    right: 0;
    left: 0;
    padding: 0rem 1rem;
    line-height: $height-toolbar-screen-sm;
    color: $basic-color-2;
    z-index: 99;
    
    @media screen and (min-width: $screen-md-min) { 
        height: $height-toolbar-screen-md;
        left: $width-drawer-screen-md;
        padding: 0rem 1.5rem;
        line-height: $height-toolbar-screen-md;
    }
}

.toolbar-title {
    h1 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 400;
    }
}

.toolbar-menu {
    width: 3.5rem;
    
    button {
        padding: 0;
        background: transparent;
        border: 0;
        cursor: pointer;
        margin-top: 0.25rem;
        height: 3rem;
        width: 3rem;
        color: $basic-color-2; 
    }
    
    @media screen and (min-width: $screen-md-min) { 
        display: none;   
    }
}