.card {
    width: 18.75rem;
    background: $basic-color-2;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.26);
    margin: 0 0.5rem 1rem 0.5rem;
    
    @media screen and (min-width: $screen-md-min) { 
        margin-left: 0rem;
        margin-right: 0rem;
    }
}

.card-media {
    height: 10.5rem;
    background: $primary-color;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.card-header {
    padding: 1.5rem 1rem 1rem 1rem;
    
    h3, h4 {
        padding: 0;
        margin: 0;
    }
    
    h3 {
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
        color: $basic-color-4;
    }
    
    h4 {
       font-size:  0.875rem;
    }
}