// colors
$primary-color: #E53935;
$basic-color-1: #fafafa;
$basic-color-2: #fff;
$basic-color-3: #e0e0e0;
$basic-color-4: #333;

// mq - @media (min-width: ) { ... }
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// drawer
$width-drawer-screen-sm: 18.75rem;
$width-drawer-screen-md: 20rem;

// toolbar
$height-toolbar-screen-md: 4rem;
$height-toolbar-screen-sm: 3.5rem;