// colors
$primary-color: #e65100;
$basic-color-1: #fafafa;
$basic-color-2: #fff;

// mq - @media (min-width: ) { ... }
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// drawer
$width-drawer-screen-md: 320px;