
.list-item {
    a {
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid $basic-color-3;
        color: $basic-color-4;
        text-decoration: none;
        transition: background 0.5s;
        
        &:hover {
            background: $basic-color-3;
        }
    }
    
    
    
    
}

.list-item-media {
    width: 3rem;
    margin-right: 1rem;
    
    img {
        border-radius: 3rem;
        width: 3rem;
        height: 3rem;
        display: block;
    }
}

.list-item-content {
    width: 90%;
    
    h3, p {
        padding: 0;
        margin: 0;
    }
    
    p {
        font-size: 0.9rem;
    }
}