
.list-item {
    a {
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid $basic-color-3;
        color: $basic-color-4;
        text-decoration: none;
        transition: background 0.5s;
        
        &:hover {
            background: $basic-color-3;
        }
    }
    
    img {
        border-radius: 48px;
        width: 48px;
        height: 48px;
        display: block;
    }
    
    div {
        padding-left: 1rem;
    }
    
    h3, p {
        padding: 0;
        margin: 0;
    }
    
    p {
        font-size: 0.9rem;
    }
}