<nav class="drawer">
    <header class="drawer-header"></header>
    <ul class="drawer-menu">
        <li>
            <a ui-sref="app.home">
                <i class="material-icons">account_circle</i> Perfil
            </a>
        </li>
        <li>
            <a ui-sref="app.skills">
                <i class="material-icons">vpn_key</i> Conocimientos
            </a>
        </li>
        <li>
            <a ui-sref="app.jobs">
                <i class="material-icons">work</i> Trabajos
            </a>
        </li>
        <li>
            <a ui-sref="app.home">
                <i class="material-icons">school</i> Estudios
            </a>
        </li>
        <li>
            <a ui-sref="app.jobs">
                <i class="material-icons">rss_feed</i> Contacto
            </a>
        </li>
    </ul>
</nav>