.container {
    padding: 3rem 1rem 1rem;
    min-height: 20rem;
    
    @media screen and (min-width: $screen-md-min) { 
        padding: 3rem 1.5rem 1.5rem;
    }
    
    h3 {
        width: 100%;
    }
}