.container {
    padding: 3rem 1rem 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    @media screen and (min-width: $screen-md-min) { 
        padding: 3rem 1.5rem 1.5rem;
        justify-content: space-between;
    }
}